/*This will target screen sizes wider than 900px*/
@media screen and (min-width: 900px) {
  .product-item__eventDetails:after  {
    content: "Click here for more details";
    text-align: center;
    border-color: gray;
    border-style: solid;
    height: fit-content;
    background: gray;
    color: white;
    border-bottom-left-radius:10px;
    max-width: max-content;
    padding: 0.1875rem 0.5625rem 0.125rem;
    margin-right:-16px;
    margin-top: -12px;
  }
}
 
/*This will target screen sizes below 900px*/
@media screen and (max-width: 899px) {
.product-item__detailText:after {
    Content: "Click here for more details";
    text-align: left;
    border-color: gray;
    border-style: solid;
    height: fit-content;
    background: gray;
    color: white;
    border-top-left-radius:10px;
    max-width: max-content;
    padding: 0.1875rem 0.5625rem 0.125rem;
    float:right!important;
    margin-bottom:-12px;
    margin-right: -16px;
 }
     
}
